<% if version.valid? %>
	<p>
	  <b>Edition:</b>
	  <%= version.edition %>
	</p>

	<p>
	  <b>Isbn:</b>
	  <%= version.isbn %>
	</p>

	<p>
	  <%= link_to 'Remove Version', [version.book, version],
	               :confirm => 'Are you sure?',
	               :method => :delete %>
	</p>
<% end %>